.deleteForm button {
	background-color: #fff;
	border: none;
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.table i {
	color: #fff;
	background-color: red;
	padding: 5px;
}

a {
	cursor: pointer;
}

.attr-check {
	border: 1px solid #000;
    padding: 4px 4px 7px;
    border-radius: 3px
}

.pagination > li > a,
.pagination > li > span {
    color: #d9534f; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #d9534f;
    border-color: #d9534f;
}